.nav-top {
  padding: 1rem 0px;
  background: var(--main-color);
  color: #fff;
  font-size: 1.44rem;
}

.header-top-help i {
  background: #fff;
  color: green;
  padding: 0.4rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.header-top-right a,
.header-top-help a {
  text-decoration: none;
  color: #fff;
}

.header-top-right a:hover,
.header-top-help a:hover {
  color: #fff;
}

.nav-mid {
  padding: 2rem 0px;
}

.company-logo {
  line-height: 25px;
  font-weight: 700;
}

.company-logo a {
  text-decoration: none;
  color: var(--main-color);
}

.company-logo a span {
  font-size: 2.4rem;
}

.company-logo a i {
  font-size: 3.3rem;
}

.company-info {
  color: var(--main-color);
}

.company-info span i {
  font-size: 3.3rem;
}

.company-info h4 {
  font-size: 1.9rem;
  font-weight: 700;
}
.company-info h5 {
  font-size: 1.4rem;
  font-weight: 600;
}

.header-btn {
  border: none;
  outline: none;
  padding: 0.8rem 1.6rem !important;
  background: var(--main-color) !important;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  transition: all 0.4s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.header-btn:hover {
  background: var(--main-color-hover) !important;
}

.header-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: end;
}

.main-nav {
  padding: 1.5rem 0px;
  background: var(--main-color);
}

.mobile-menu {
  display: none;
}

.mobile-menu i {
  color: #fff;
  font-size: 2.1rem;
  cursor: pointer;
}

.menu-links {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.menu-links:hover {
  color: var(--primary-color);
}

.menu-link-active {
  color: var(--primary-color);
}

.search-box {
  width: 22rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  border: 1px solid #333;
  padding: 0.7rem 1.2rem;
  background-color: #020a4de9;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1.28rem;
}

.search-box input::placeholder {
  color: #fff;
}

.search-box i {
  color: rgb(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 1.3rem;
}
