.testimonials-section {
  overflow: hidden;
}

.testimonials {
  padding: 2.4rem 1.6rem;
}

.testimonials-info {
  margin-top: 1.6em;
}

.testimonials-user-name {
  color: var(--main-color);
  margin-top: 1.6rem;
}

.testimonials-user-job {
  color: #777;
  margin-bottom: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .testimonials p {
    font-size: 1.3rem;
  }

  .testimonials-user-name {
    font-size: 1.6rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .testimonials-info img {
    width: 6rem !important;
    height: 6rem !important;
    object-fit: cover;
  }
}
