@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

html {
  font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6 {
  color: #000d6b;
  font-weight: 600;
  margin-bottom: 0;
}

h3,h4{
  font-size: 2.9rem;
}

h5,h6 {
  font-size: 1.9rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}